**/.settings
**/gradle
**/.gradle
**/build
**/.project
**/.metadata
**/target
**/.classpath
**/test-output
**/dependency-reduced-pom.xml
**/node_modules/
**/test-results.xml
**/.acignore
**/.springBeans
**/*.iml
**/.idea
*.iml
**/*.idea
**/*mvnw*
**/.mvn/timing.properties
**/.mvn/wrapper/maven-wrapper.jar
**/pom.xml.tag
**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/pom.xml.next
**/.factorypath
*.pyc
Thumbs.db
*.exe
*.msi
*.iso
*.dll
*.jar
*.war
*.tar
*.zip
*.7z
*.gz
*.rar
**/*-local.yml
